body {
    background-color: black;
}

h1{
    color: white;
    text-align: center;
    font-size-adjust: 130% ;
    
}
p{
    color: yellow;
    font-size-adjust: 100%;

}
ol{
    color: yellow;
    font-size-adjust: 100%;

}
div{
    
    border: 1px solid white;
    padding: 5px;
}
table, td{
    border: 1px solid white;
    color: white;
    padding: 5px;

}